.followers{
	float: left;
	margin: 35px 18px 0 0 ;	
	width:23%; 
	height: 160px;
	box-shadow: 0px 0px 1em #666;
	-webkit-box-shadow: 0px 0px 1em #666;
	-moz-box-shadow: 0px 0px 1em #666;
	border-radius: 8px;	
}
.photo-foll{
	width: 100px;
	float:left;
}
.photo-foll > img{
	width: 110px;
	height: 110px;
	border-radius: 10px;
}
.name-foll{
	margin-left: 120px;
	margin-top: 20px;
	font-size: 15px;
	font-weight: bold;
}
.conts-foll{
	color:#9197a3;
	margin-left: 120px;
	margin-top: 22px;
}
.followers button{
	width: 95%;
	margin-left: 3%;
	margin-top: 5%;
}

@media (max-width: 950px){
	.followers{
		width:40%; 
	}
}
@media (max-width: 767px) {
	.followers{
		float:none !important;
		width:100%;
		height: 113px; 
	}
	.followers button{
		float:right;
		width: 25%;
		margin-right: 15px;
		margin-top: -68px;
    }
}
@media (max-width: 400px) {
 	.followers{
		float:none !important;
		width:100%;
		height: 160px; 
	}
	.followers button{
		width: 95%;
		margin-right: 2%;
		margin-top: 5%;
    }
}

